# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
bin/
build/
deployv_build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
deployv_build/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports / lint checks
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
.eggs
pylint_vauxoo_light.cfg

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/build/
html

# Vi swap file
*.swp

# Pycharm project files
.idea

# VSCode files
.vscode
